includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    ignoreErrors:

        # the property profile_photo_url is appends to the model in jetstream way
        - message: '#^Property ''profile_photo_url'' does not exist in model\.$#'
          identifier: rules.modelAppends
          count: 1
          path: app/Models/User.php

        # normal call it's vendor class
        - message: '#^Call to static method factory\(\) on an unknown class App\\Models\\Team\.$#'
          identifier: class.notFound
          count: 1
          path: database/factories/UserFactory.php

        # it's normal laravel magic
        - message: '#^Undefined variable\: \$this$#'
          identifier: variable.undefined
          count: 1
          path: routes/console.php

        # it does exists but it may not exists if some dumb didn't put the size as key in pwa config
        - message: '#^Variable \$size might not be defined\.$#'
          identifier: variable.undefined
          count: 1
          path: app/Services/Internal/PWA/ManifestService.php

        -'#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:stateless\(\)\.$#'
        -'#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$approvedScopes\.$#'
        -'#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$expiresIn\.$#'
        -'#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$token\.$#'
        -'#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$user\.$#'
        -'#^Call to an undefined method App\\QueryBuilders\\ClinicQueryBuilder\:\:paginate\(\)\.$#'
        -'#^Call to an undefined method App\\QueryBuilders\\ClinicServiceQueryBuilder\:\:paginate\(\)\.$#'
        -'#^Call to an undefined method App\\QueryBuilders\\DoctorQueryBuilder\:\:paginate\(\)\.$#'
        -'#^Call to an undefined method App\\QueryBuilders\\PatientQueryBuilder\:\:paginate\(\)\.$#'
        -'#^Call to an undefined method App\\QueryBuilders\\PatientQueryBuilder\:\:take\(\)\.$#'
        -'#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$appends is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$appends\.$#'
        -'#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
        -'#^Access to an undefined property App\\Models\\Calendar\:\:\$data\.$#'
        -'#^Call to an undefined method App\\QueryBuilders\\DoctorQueryBuilder\:\:take\(\)\.$#'
        -'#^Access to an undefined property App\\Models\\Prompt\:\:\$messages\.$#'
        -'#^Call to an undefined static method Illuminate\\Support\\Facades\\Cache\:\:generateOrgScopedKey\(\)\.$#'
        # ignore this error 
        - '#^Unsafe usage of new static\(\)\.$#'

    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - app/Adapters/Storage/GoogleDrive

    level: 5
